.root {
  display: flex;
  flex-direction: column;
  background-color: black;
  position: relative;
  overflow: hidden;
}

.image {
  width: 46.25%;
  height: auto;
  aspect-ratio: 1.1;
  vertical-align: top;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
  position: relative;
  margin: 209px auto 208px;
}
@media (max-width: 767px) {
  .image {
    width: 53.43%;
  }
}
@media (max-width: 575px) {
  .image {
    width: 60.47%;
  }
}
@media (max-width: 479px) {
  .image {
    width: 67.11%;
  }
}
@media (max-width: 383px) {
  .image {
    width: 73.12%;
  }
}