$ui-height: 10vh;

%container {
  height: 100vh;
}

// Dark mode styles
$background-color: #181818;
$text-color: #fff;

body {
  background-color: $background-color;
  color: $text-color;
}

#app-container,
#channels-list,
#channel-info,
#messages-list,
#messages-input {
  background-color: $background-color;
}

.channel {
  cursor: pointer;
  color: $text-color;
  background-color: #000; // Dark background color for channels
}

.channel:hover {
  background-color: #2a2a2a; // Slightly lighter background on hover
}

#channels-ui-parent {
  height: $ui-height;
  position: relative;
  #channels-ui-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    color: $text-color;
  }
}
.body {
  background-color: #181818;
}
.modal-body-extended {
  padding: 10%;
}

.form-control {
  background-color: #000;
}
#channel-info {
  height: $ui-height;
  text-align: center;
  margin-top: 3vh;
}

.hide-switch-channel {
  display: none;
  #manage-channel-btn {
    display: none;
  }
}

#messages-input-text-area {
  resize: none;
}

// Add more styles for dark mode as needed

