$ui-height: 10vh;

%container {
  height: 100vh;
}

#app-container {
  @extend %container;
}

#channels {
  @extend %container;
  padding: 0;
}

.channel {
  cursor: pointer;
}

.channel:hover {
  background-color: #e5edff;
}

#channels-list {
  overflow-y: scroll;
  height: 100vh - $ui-height;
}

#channels-ui-parent {
  height: $ui-height;
  position: relative;
  #channels-ui-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
  }
}

.modal-body-extended {
  padding: 10%;
}

#channel-info {
  height: $ui-height;
  text-align: center;
  margin-top: 3vh;
}

.hide-switch-channel {
  display: none;
  #manage-channel-btn {
    display: none;
  }
}

#messages-list {
  height: 100vh - 15vh - $ui-height;
  overflow-y: scroll;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  img {
    height: 60px;
    width: auto;
  }
  small {
    text-align: right;
  }
}

#messages-input {
  height: $ui-height;
  padding-bottom: 2.5vh;
  padding-top: 2.5vh;
}

#messages-input-text-area {
  resize: none;
}