.vscode
.DS_Store
.idea
.env

__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*.py[cod]



/configs/logs
/configs/tor
/configs/master-key


/configs/adguard/*
!/configs/adguard/AdGuardHome.yaml


/configs/pihole/etc-pihole/*
!/configs/pihole/etc-pihole/custom.list


/configs/dnscrypt/*
!/configs/dnscrypt/dnscrypt-proxy.toml


/Src/venv/
/Src/log/

/Src/static/app/dist/
/Src/static/app/node_modules/

/Src/db/*
!/Src/db/wsgi.ini



.env.anim.run.txt
.env
.DS_Store
preqsinstalled.txt
/DB_MIGRATE
test_users.ldif
proxy_router.c
proxy_router/go.mod
proxy_router/go.sum
/proxy_router
Docs/auth_api.py
/WireGate_Built
/build
/Src/static/app/dist
Src/appmap.log
/Src/build
dashboard.pid
/Src/configs
