.vscode
.DS_Store
.idea
src/db
__pycache__
src/test.py
*.db
docker-compose-test.yml
src/wg-dashboard.ini
src/static/pic.xd
private_key.txt
public_key.txt
venv/**
log/**
*.log
release/*
src/db/wgdashboard.db
.jshintrc
wireguard/
etc-dnsmasq.d/*
etc-pihole/*
!etc-pihole/custom.list
etc-dnsmasq.d/
WG-Dash/config/*.conf
data/
WG-Dash/src/test.sh
WG-Dash/master-key/master.conf
test.sh
Unbound-Custom-Config/root.hints
.gitignore
.idea/
Channels/venv/
Channels/node_modules
Channels/flask_session
Channels/app/static/dist
Channels/Channels notebook.ipynb
Channels/.pytest_cache/
Channels/.mypy_cache/
Channels/.ipynb_checkpoints/

wget-log

dev-docker-compose.yml
ch-dev-docker-compose.yml
dev-docker-compose.yml
WG-Dash/master-key/master.conf.enc
WG-Dash/master-key/master.conf.enc
