**/node_modules/*

**/configs/*

!configs/dnscrypt/dnscrypt-proxy.toml
!configs/pihole/etc-pihole/custom.list
!configs/adguard/AdGuardHome.yaml



**/Dynamic-Deploy/*

!Dynamic-Deploy/build_scripts
!Dynamic-Deploy/.dockerignore
!Dynamic-Deploy/Dockerfile
!Dynamic-Deploy/LICENSE

**/Dynamic-Deploy/src*
!Dynamic-Deploy/src/iptable-rules*
!Dynamic-Deploy/src/vanguards*
!Dynamic-Deploy/src/dashboard.py
!Dynamic-Deploy/src/vanguards.py
!Dynamic-Deploy/src/gunicorn.conf.py
!Dynamic-Deploy/src/requirements.txt
!Dynamic-Deploy/src/certbot.ini
!Dynamic-Deploy/src/wiregate.sh
!Dynamic-Deploy/src/entrypoint.sh

**Dynamic-Deploy/src/static/app/*
!Dynamic-Deploy/src/static/locale*
!Dynamic-Deploy/src/static/app/src
!Dynamic-Deploy/src/static/app/public
!Dynamic-Deploy/src/static/app/index.html
!Dynamic-Deploy/src/static/app/jsconfig.json
!Dynamic-Deploy/src/static/app/package.json
!Dynamic-Deploy/src/static/app/package-lock.json
!Dynamic-Deploy/src/static/app/proxy.js
!Dynamic-Deploy/src/static/app/vite.config.js

