atomicwrites
attrs
bcrypt
cffi
click
colorama
coverage
dnspython
email-validator
eventlet==0.33.3
Flask==2.3.3
Flask-Bcrypt
Flask-Login
flask-marshmallow
Flask-SocketIO
Flask-SQLAlchemy==3.1.1
Flask-WTF
greenlet
idna
itsdangerous
Jinja2
MarkupSafe
marshmallow
marshmallow-sqlalchemy
monotonic
more-itertools
mypy
mypy-extensions
packaging
Pillow
pluggy
psycopg2==2.9.9
pycparser
pyparsing
pytest
pytest-cov
python-engineio
python-socketio==5.9.0
selenium
six
SQLAlchemy
typed-ast
typing-extensions
urllib3
wcwidth
Werkzeug==3.0.1
wheel
WTForms
