atomicwrites
attrs
bcrypt
cffi
click
colorama
coverage
dnspython
email-validator
eventlet==0.33.3
Flask==2.3.2
Flask-Bcrypt
Flask-Login
flask-marshmallow
Flask-SocketIO
Flask-SQLAlchemy
Flask-WTF
greenlet
idna
itsdangerous
Jinja2
MarkupSafe
marshmallow
marshmallow-sqlalchemy
monotonic
more-itertools
mypy
mypy-extensions
packaging
Pillow
pluggy
psycopg2
pycparser
pyparsing
pytest
pytest-cov
python-engineio
python-socketio==5.9.0
selenium
six
SQLAlchemy
typed-ast
typing-extensions
urllib3
wcwidth
Werkzeug==2.3.6
wheel
WTForms
