<li class="list-group-item d-flex justify-content-between align-items-center channel" data-channel="{{channelName}}">
    {{channelName}}
    <span class="badge badge-primary badge-pill">100</span>
</li>