<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% if title %}
        {{ title }}
        {% else %}
        Online board
        {% endif %}
    </title>
    <link rel="stylesheet" href="/static/main.css">
</head>

<body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% if g.user and g.user.is_authenticated %}
<div id="menu">
<ul>
    <li><a href="/home">home</a></li>
    <li><a href="/profile">profile</a></li>
    {% if g.user.is_admin %}
    <li><a href="/admin/user/list">list users</a></li>
    <li><a href="/admin/user/add">add user</a></li>
    {% endif %}
    <li><a href="/logout">logout</a></li>
</ul>
</div>
{% endif %}


{% block content %}{% endblock %}
</body>
</html>