{% extends "base.html" %}
{% block content %}

<div id="messages">

</div>

  <form action="/post" method="post" name="index">
      {{ form.hidden_tag() }}
      <p>
          {{ form.message(size=80, id="messagebox") }}
      </p>
  </form>

  <script type="text/javascript">
    window.onload = setupRefresh;

    function setupRefresh() {
      setTimeout("updateMessages();", 2000); // milliseconds
      updateMessages();
      document.getElementById("messagebox").focus();
    }

    function refreshPage() {
       window.location = location.href;
    }

    function updateMessages(){
        var ajaxRequest;  // The variable that makes Ajax possible!
        ajaxRequest = new XMLHttpRequest();
        // Create a function that will receive data sent from the server
        ajaxRequest.onreadystatechange = function(){
                if(ajaxRequest.readyState == 4){
                        //The response
                        document.getElementById('messages').innerHTML = ajaxRequest.responseText;
                }
        }
        ajaxRequest.open("GET", "/messages", true);
        ajaxRequest.send(null);
        setTimeout("updateMessages();", 10000);
    }
  </script>

{% endblock %}

