.absolute {
    position: absolute
}
.relative {
    position: relative
}
.top-\[31px\] {
    top: 31px
}
.left-\[385px\] {
    left: 385px
}
.mx-auto {
    margin-left: auto;
    margin-right: auto
}
.my-0 {
    margin-top: 0px;
    margin-bottom: 0px
}
.mx-0 {
    margin-left: 0px;
    margin-right: 0px
}
.mt-2 {
    margin-top: 0.5rem
}
.mb-\[13px\] {
    margin-bottom: 13px
}
.mt-0 {
    margin-top: 0px
}
.mb-\[67px\] {
    margin-bottom: 67px
}
.mt-\[46px\] {
    margin-top: 46px
}
.mb-0 {
    margin-bottom: 0px
}
.mr-px {
    margin-right: 1px
}
.ml-0 {
    margin-left: 0px
}
.mt-\[21px\] {
    margin-top: 21px
}
.mr-0 {
    margin-right: 0px
}
.ml-px {
    margin-left: 1px
}
.flex {
    display: flex
}
.aspect-\[1\.03\] {
    aspect-ratio: 1.03
}
.aspect-\[10\] {
    aspect-ratio: 10
}
.aspect-\[24\.77\] {
    aspect-ratio: 24.77
}
.h-\[767px\] {
    height: 767px
}
.h-auto {
    height: auto
}
.h-full {
    height: 100%
}
.min-h-\[569px\] {
    min-height: 569px
}
.w-\[1440px\] {
    width: 1440px
}
.w-\[671px\] {
    width: 671px
}
.w-full {
    width: 100%
}
.w-\[91\.18\%\] {
    width: 91.18%
}
.w-\[45\.7\%\] {
    width: 45.7%
}
.w-\[45\.77\%\] {
    width: 45.77%
}
.w-\[calc\(100\%_-_1px\)\] {
    width: calc(100% - 1px)
}
.w-\[calc\(100\%_-_0px\)\] {
    width: calc(100% - 0px)
}
.min-w-\[1440px\] {
    min-width: 1440px
}
.min-w-\[671px\] {
    min-width: 671px
}
.grow {
    flex-grow: 1
}
.flex-col {
    flex-direction: column
}
.justify-center {
    justify-content: center
}
.overflow-hidden {
    overflow: hidden
}
.bg-black {
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity))
}
.bg-\[image\:var\(--src\)\] {
    background-image: var(--src)
}
.bg-contain {
    background-size: contain
}
.bg-\[center_center\] {
    background-position: center center
}
.bg-no-repeat {
    background-repeat: no-repeat
}
.object-cover {
    -o-object-fit: cover;
    object-fit: cover
}
.object-\[center_center\] {
    -o-object-position: center center;
    object-position: center center
}
.text-center {
    text-align: center
}
.align-top {
    vertical-align: top
}
.font-Inconsolata {
    font-family: Inconsolata, Helvetica, Arial, serif
}
.text-\[64px\] {
    font-size: 64px
}
.font-normal {
    font-weight: 400
}
.leading-\[1\.04\] {
    line-height: 1.04
}
.tracking-\[0px\] {
    letter-spacing: 0px
}
.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
}
.outline {
    outline-style: solid
}
.outline-\[7px\] {
    outline-width: 7px
}
.outline-offset-\[-7px\] {
    outline-offset: -7px
}
.outline-white {
    outline-color: #fff
}
.outline-black {
    outline-color: #000
}
@media (max-width: 1399px) {
    .xl\:w-\[93\.24\%\] {
        width: 93.24%
    }
}
@media (max-width: 1199px) {
    .lg\:w-\[94\.84\%\] {
        width: 94.84%
    }
}
@media (max-width: 991px) {
    .md\:aspect-\[19\.669999999999987\] {
        aspect-ratio: 19.669999999999987
    }
    .md\:w-\[96\.08\%\] {
        width: 96.08%
    }
}
@media (max-width: 767px) {
    .sm\:aspect-\[19\.93999999999998\] {
        aspect-ratio: 19.93999999999998
    }
    .sm\:w-\[97\.03\%\] {
        width: 97.03%
    }
    .sm\:w-\[52\.88\%\] {
        width: 52.88%
    }
    .sm\:w-\[52\.94\%\] {
        width: 52.94%
    }
}
@media (max-width: 575px) {
    .xs\:aspect-\[17\.319999999999993\] {
        aspect-ratio: 17.319999999999993
    }
    .xs\:w-\[97\.76\%\] {
        width: 97.76%
    }
    .xs\:w-\[59\.94\%\] {
        width: 59.94%
    }
    .xs\:w-3\/5 {
        width: 60%
    }
}
@media (max-width: 479px) {
    .xxs\:aspect-\[11\.010000000000018\] {
        aspect-ratio: 11.010000000000018
    }
    .xxs\:w-\[98\.31\%\] {
        width: 98.31%
    }
    .xxs\:w-\[66\.62\%\] {
        width: 66.62%
    }
    .xxs\:w-\[66\.67\%\] {
        width: 66.67%
    }
}
@media (max-width: 383px) {
    .tn\:aspect-\[10\.97000000000007\] {
        aspect-ratio: 10.97000000000007
    }
    .tn\:w-\[98\.73\%\] {
        width: 98.73%
    }
    .tn\:w-\[72\.68\%\] {
        width: 72.68%
    }
    .tn\:w-\[72\.73\%\] {
        width: 72.73%
    }
}