{% extends 'settings-template.html' %}

{% block settings %}
    <div id="settings-channel">
        <h2 class="border-bottom">Channel "{{ channel.name }}"</h2>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        Number of users: <span class="ml-2">{{ num_users }}</span><br>
        Number of messages: <span class="ml-2">{{ num_messages }}</span><br><br>
        <h4 class="border-bottom mb-4 mt-2">Users</h4>

        <div id="collapse-btn-group">
            <a class="btn btn-primary mr-4 mb-4 collapse-btn" data-toggle="collapse" href="#collapse-all-users" role="button" aria-expanded="false" aria-controls="collapse-all-users">
                Display all users
            </a>
            <a class="btn btn-info mr-4 mb-4 collapse-btn" data-toggle="collapse" href="#collapse-make-admin" role="button" aria-expanded="false" aria-controls="collapse-make-admin">
                Make admin
            </a>
            <a class="btn btn-warning mr-4 mb-4 collapse-btn" data-toggle="collapse" href="#collapse-revoke-admin" role="button" aria-expanded="false" aria-controls="collapse-revoke-admin">
                Revoke admin
            </a>
            <a class="btn btn-danger mb-4 collapse-btn" data-toggle="collapse" href="#collapse-remove-user" role="button" aria-expanded="false" aria-controls="collapse-remove-user">
                Remove user
            </a>
        </div>

        <div class="collapse" id="collapse-all-users">
            <div id="display-users" class="border">
                {% for user, is_admin in user_tuples %}
                    <div class="img-div mr-5 mb-3">
                        <img src="{{ url_for('static', filename='img/profile_pictures') }}/{{ user.profile_picture }}"
                             class="align-self-start mr-1 border rounded" alt="{{user.username}} profile picture">
                        {{ user.username }}
                        {% if is_admin %}
                            <span class="badge badge-pill badge-success ml-1">admin</span>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="collapse" id="collapse-make-admin">
            <div class="card card-body">
                {% if only_admins %}
                    <h5>All users in this channel are already admins!</h5>
                {% else %}
                    <form method="post" action="{{ url_for('main.make_admin') }}">
                        <label for="user">Select a user:</label>
                        <select name="user" id="user">
                            {% for user, is_admin in user_tuples %}
                                {% if not is_admin %}
                                    <option value="{{ user.id }}">
                                        <img src="{{ url_for('static', filename='img/profile_pictures') }}/{{ user.profile_picture }}"
                                             class="align-self-start mr-1 border rounded" alt="{{user.username}} profile picture">
                                        {{ user.username }}
                                    </option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <input type="hidden" name="channel_id" value="{{ channel.id }}">
                        <br><br>
                        <button class="btn btn-success btn-sm" type="submit">Make admin</button>
                    </form>
                {% endif %}
            </div>
        </div>

        <div class="collapse" id="collapse-revoke-admin">
            <div class="card card-body">
                <form method="post" action="{{ url_for('main.revoke_admin') }}">
                    <label for="user">Select a user:</label>
                    <select name="user" id="user">
                        {% for user, is_admin in user_tuples %}
                            {% if is_admin %}
                                <option value="{{ user.id }}">
                                    <img src="{{ url_for('static', filename='img/profile_pictures') }}/{{ user.profile_picture }}"
                                         class="align-self-start mr-1 border rounded" alt="{{user.username}} profile picture">
                                    {{ user.username }}
                                </option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <input type="hidden" name="channel_id" value="{{ channel.id }}">
                    <br><br>
                    <button class="btn btn-success btn-sm" type="submit">Revoke admin</button>
                </form>
            </div>
        </div>

        <div class="collapse" id="collapse-remove-user">
            <div class="card card-body">
                {% if only_admins %}
                    <h5>You can't remove anyone. All users in this channel are admins!</h5>
                {% else %}
                    <small class="text-muted mb-3">Note that you can't remove any user who is admin.</small>
                    <form method="post" action="{{ url_for('main.remove_user') }}">
                        <label for="user">Select a user:</label>
                        <select name="user" id="user">
                            {% for user, is_admin in user_tuples %}
                                {% if not is_admin %}
                                    <option value="{{ user.id }}">
                                        <img src="{{ url_for('static', filename='img/profile_pictures') }}/{{ user.profile_picture }}"
                                             class="align-self-start mr-1 border rounded" alt="{{user.username}} profile picture">
                                        {{ user.username }}
                                    </option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <input type="hidden" name="channel_id" value="{{ channel.id }}">
                        <br><br>
                        <button class="btn btn-success btn-sm" type="submit">Remove user</button>
                    </form>
                {% endif %}
            </div>
        </div>

    </div>

    <script>
    $('.collapse-btn').click(function() {
        $('.collapse').collapse('hide');
    });
    </script>
{% endblock %}