{% extends 'main-layout.html' %}

{% block imports %}
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/app.css') }}">
    <script type="module" src="{{ url_for('static', filename='dist/js/bundle.js') }}"></script>

{% endblock %}

{% block content %}
    <div class="container-fluid" id="app-container">
        <div class="row">

            <div class="col-md-3 border-right" id="channels">

                <div id="channels-ui-parent">
                    <div id="channels-ui-child">
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#add-channel-modal" id="add-channel-button">
                            Add channel
                        </button>
                        <button type="button" class="btn btn-success btn-sm ml-4" data-toggle="modal" data-target="#join-channel-modal" id="join-channel-button">
                            Join channel
                        </button>
                    </div>
                </div>

                <div id="channels-list">
                    {% block channels %}{% endblock %}
                </div>

            </div>

            <div class="col-md-9 border-left">
                {% block messages %}{% endblock %}
            </div>

        </div>
    </div>

    <!-- Add channel modal -->
    <div class="modal fade" id="add-channel-modal" tabindex="-1" role="dialog" aria-labelledby="addChannelCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form method="post" action="">
                    <div class="modal-header">
                        <h5 class="modal-title" id="joinChannelCenterTitle">Add a new channel!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body modal-body-extended">

                        {{ add_channel_form.csrf_token }}
                        <fieldset class="form-group">
                            <div class="form-group">
                                {{ add_channel_form.name.label(class="form-control-label") }}
                                {% if add_channel_form.name.errors %}
                                    {{ add_channel_form.name(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in add_channel_form.name.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ add_channel_form.name(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ add_channel_form.password.label(class="form-control-label") }}
                                {% if add_channel_form.password.errors %}
                                    {{ add_channel_form.password(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.password.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ add_channel_form.password(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ add_channel_form.confirm_password.label(class="form-control-label") }}
                                {% if add_channel_form.confirm_password.errors %}
                                    {{ add_channel_form.confirm_password(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in add_channel_form.confirm_password.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ add_channel_form.confirm_password(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                        </fieldset>
                    </div>
                    <div class="modal-footer">
                        <div class="form-group" id="button-div">
                            {{ add_channel_form.submit_add(class="btn btn-success") }}
                        </div>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" id="add-channel-close-button">
                            Close
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Join channel modal -->
    <div class="modal fade" id="join-channel-modal" tabindex="-1" role="dialog" aria-labelledby="joinChannelCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form method="post" action="">
                    <div class="modal-header">
                        <h5 class="modal-title" id="joinChannelCenterTitle">Join a channel!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body modal-body-extended">
                            {{ join_channel_form.hidden_tag() }}
                            <fieldset class="form-group">
                                <div class="form-group">
                                    {{ join_channel_form.name.label(class="form-control-label") }}
                                    {% if join_channel_form.name.errors %}
                                        {{ join_channel_form.name(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in join_channel_form.name.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ join_channel_form.name(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{ join_channel_form.password.label(class="form-control-label") }}
                                    {% if join_channel_form.password.errors %}
                                        {{ join_channel_form.password(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in join_channel_form.password.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ join_channel_form.password(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                            </fieldset>
                    </div>
                    <div class="modal-footer">
                        <div class="form-group" id="button-div">
                            {{ join_channel_form.submit_join(class="btn btn-success") }}
                        </div>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" id="join-channel-close-button">
                            Close
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% if add_channel_form_invalid %}
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                $("#add-channel-modal").modal()
            })
        </script>
    {% elif join_channel_form_invalid %}
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                $("#join-channel-modal").modal()
            })
        </script>
    {% endif %}
{% endblock %}