{% extends 'settings-template.html' %}

{% block settings %}
    <div class="media">
        <img src="{{ url_for('static', filename='img/profile_pictures') }}/{{ current_user.profile_picture }}"
             class="rounded img-thumbnail mr-3 align-self-center" alt="Your profile picture">
        <div class="media-body">
            <h1 class="mt-0">{{ current_user.username }}</h1>
            Email address: <span class="ml-2">{{ current_user.email }}</span><br>
            All channels: <span class="ml-2">{{ all_channels }}</span><br>
            All messages: <span class="ml-2">{{ all_messages }}</span><br>
        </div>
    </div><br><br>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form method="post" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Update the profile</legend>
            <div class="form-group">
                {{ form.username.label(class="form-control-label") }}
                {% if form.username.errors %}
                    {{ form.username(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.username(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.profile_picture.label() }}
                {{ form.profile_picture(class="form-control-file") }}
                {% if form.profile_picture.errors %}
                    {% for error in form.profile_picture.errors %}
                        <span class="text-danger">{{ error }}</span><br>
                    {% endfor %}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group" id="button-div">
            {{ form.submit(class="btn btn-success") }}
        </div>
    </form>
{% endblock %}