{% extends 'settings-template.html' %}

{% block settings %}
    <h2 class="my-4">API</h2>
    <hr class="my-4">

    <h4>Token</h4> <br>
    Your API token is: <br>
    <small style="word-wrap: break-word">{{ token }}</small>
    <br> <br>

    <h4>Instruction</h4> <br>
    Add the token placed above to any POST request you want to make.
    Give the argument the name "token".
    <br> <br>

    <h4>API routes</h4> <br>
    Currently the following routes are ready to take your POST request:
    <ul>
        <li>api/channels</li>
        <li>api/channels/{name of the channel}</li>
    </ul>
{% endblock %}